@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap');
@media (min-width:990px){
    #navt{
        background-color:#201c34;
        position:absolute;
        border: 0;
        top:0%;
        width:100%;
        height:17%;
        
    }
    #mea{
        position: absolute;
        left:40%;
        font-family: 'Fredoka', sans-serif;
        font-size:20px;
        font-weight:500;
        
    }
    #Navbar_brand{
        width:20%;
        height:100%;
        background-size:contain;
        background-repeat:no-repeat;
    }
    #topic{
        color:rgb(249, 251, 252);
        padding:26px;
        padding-bottom: 0;
    }

    #topic:hover{
        color: #37b3a6;
    }

    #ltopic{
        padding:26px;
        color:rgb(249, 251, 252);
    }
    #ltopic:hover{
        color: #37b3a6;
    }
}

@media (max-width:990px) {
    #navt{
        background-color:#201c34;
    }
    #Navbar_brand{
        height:40px;
        width:140px;
        background-size:contain;
        background-repeat:no-repeat;
    }
    #topic{
        color:rgb(249, 251, 252);
    }
    #topic:hover{
        color: #37b3a6;
    }
    #ltopic{
        color:rgb(249, 251, 252);
    }
    #ltopic:hover{
        color: #37b3a6;
    }
    #toggle{
        background-color: azure;
        
    }
    
}